<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sofia Yu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sofia Yu professional website">
    <title>CV - Sofia Yu</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Sofia Yu</h1>
        <nav>
            <a href="../index.html" class="nav-link">Home</a>
            <a href="cv.html" class="nav-link">CV</a>
            <a href="contact.html" class="nav-link">Contact me</a>
            <a href="fun.html" class="nav-link">For fun</a>
        </nav>
    </header>

    <div class="main">
        <h2>Curriculum Vitae</h2>
    </div>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Carnegie Mellon University - Tartan Ambassador</td>
            <td>Represent CMU by leading campus and virtual tours, engaging diverse audiences, and collaborating with teams to host special events and outreach efforts.
        </td>
        </tr>
        <tr>
            <td>Carnegie Mellon University - Human-Computer Interactions Teaching Assistant (15-180 and 05-391)</td>
            <td>Support student learning in Human-Computer Interaction by grading assignments, providing detailed feedback, and facilitating understanding of technical concepts through consistent communication and guidance.
            </td>
        </tr>
        <tr>
            <td>Carnegie Mellon University - Ad-blocking and Anti-blocking Software Research Assistant</td>
            <td>Maintained and enhanced browser and email extensions in a startup-like environment for Prof. Alessandro Acquisti.
                Developed a click detection script to track user interactions on websites for behavioral analysis.
                Designed a new algorithm using regex for checkout page and PII detections; refined JavaScript code for browser and email extensions to improve PII extraction and redaction, resolving long-standing issues. 
            </td>
        </tr>
        <tr>
            <td>Ethos Tenant Co. - Associate Intern</td>
            <td>Examined about 200 companies' rent rolls, compiling lease information into Excel spreadsheets for future outreach.
                Coordinated with over 40 prospective companies, initiating 5 successful deals.
            </td>
        </tr>
    </table>

    <p><a href="../static/sofia_yu_resume.pdf" target="_blank">My resume (PDF)</a></p>

    <footer>
        <p>&copy; 2025 designed and coded by Sofia Yu</p>
    </footer>
</body>
</html>
