<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sofia Yu">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Sofia Yu professional website">
    <title>For Fun - Sofia Yu</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>
        <h1 id="webname">Sofia Yu</h1>
        <nav>
            <a href="../index.html" class="nav-link">Home</a>
            <a href="cv.html" class="nav-link">CV</a>
            <a href="contact.html" class="nav-link">Contact me</a>
            <a href="fun.html" class="nav-link">For fun</a>
        </nav>
    </header>

    <div class="main">
        <h2>Things I love to do for fun</h2>
        <button id="showListButton" onclick="showList()">Click to see...</button>
        <ul id="funList">
            <li>Traveling to new places and experiencing different cultures</li>
            <li>Making boba and exploring different boba places</li>
            <li>Go Kart</li>
            <li>Gun shooting</li>
            <li>Reading fiction and fantasy novels</li>
        </ul>
    </div>

    <footer>
        <p id="copyYear">designed and coded by Sofia Yu &copy;</p>
    </footer>
</body>
</html>
